/*-------------------------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#333;
}

body {
  font-size:36px;
  font-size:1.6rem;
  background-color:#ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  color: #333333;
}

h1 {
  font-size: 40px;
  font-size: 4rem;
}
h2 {
  font-size: 30px;
  font-size: 3.0rem;
}
h3 {
  font-size: 20px;
  font-size: 2.0rem;
}
h4 {
  font-size: 15px;
  font-size: 1.5rem;
}
.label {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
label {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
table {
  /*width: 100%;*/

  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #ddd;
  color: #444;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21px;
  padding: 5px 8px;
}
table th {
  border-color: #aaa;
  border-width: 1px;
  border-style: solid;
  background-color: #76dee4;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  color: #000;
  font-weight: bold;
  text-align: left;
  padding: 3px 8px;
  white-space: nowrap;
}
.clear {
  clear: both;
}
/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrap {
  width:960px;
  margin:0px auto;
  /*background-image: url('images/photo.jpg');*/
  /*background-color: #B0C4DE; */
  background-color: #ffffff;
  padding-left: 200px;
}
#header {
  text-align: center;
  /*background-color: #DDA0DD;*/
}
#pick {
  text-align: center;
  width: 960px;
  /*background-image: url('images/photo.jpg');*/
  /* background-color: #020202; */
}
/*#customize {
  text-align: center;
  width: 960px;
  background-image: url('images/photo.jpg');
  /* background-color: #020202; 
}*/
/*.grid-row {
  width:425px;
  margin-right:50px;
  float:left;
}*/
.grid-row {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.grid-group:before,
.grid-group:after {
    content:"";
    display:table;
}
.grid-group:after {
    clear:both;
}
.grid-group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/*  GRID COLUMN SETUP   ==================================================================== */

.grid-col {
  display: block;
  float: left;
  margin-top: 1%;
  margin-right: 0;
  margin-bottom: 1%;
  margin-left: 1.6%;
  padding-bottom: 10px;
}

.grid-col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
  .grid-col { 
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%; 
  }
  .span_1_of_2 {
    width: 100%; 
  }
}

/*  CUSTOMIZE   ============================================================================= */

#customize h3 {
  margin-bottom: 25px;
}
#customize .span_1_of_4 {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
#customize .span_1_of_4label {
  display: block;
}
/* changed the padding-left and padding right to 0px to make it really into two columns */
#customize .span_1_of_2 {
  padding-left: 0px;
  padding-right: 0px;
}
#customize h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
#customize textarea {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%;
}
#customize .message-individual {
  height: 175px;
}
#customize .message-group {
  height: 245px;
}
#customize input[type=text] {
  width: 100%;
}
/*  SHARED ADDRESS   ============================================================================= */
#shared_address #state_container {
  float: left;
  width: 40%;
}
#shared_address #zip_container {
  float: left;
  width: 60%;
}
#shared_address #zip {
  width: 100%;
}
#shared_address #city {
  width: 60%;
}
#shared_address textarea {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%;
}
/*  AVAILABILITY   ============================================================================= */
#available .span_1_of_2 {
  padding-left: 0px;
  padding-right: 0px;
}
#datepick {
  z-index: 900;
}
.datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

/*  ACTIVITY   ============================================================================= */
#available {
  padding-left: 0px;
  padding-right: 0px;
}